<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.board.dao.BoardMapper">
	<!-- 총 레코드 수 -->
	<select id="selectBoardCount" resultType="integer"><!-- 소문자도 지원함(ALIAS) -->
		SELECT
			COUNT(*)
		FROM aboard
	</select>
</mapper>






